body {
  background-color: #f2f2f2;
}

.header {
  color: #33323D;
 position: absolute;
  height: 14px;
  left: 996px;
  top: 50px;

  list-style: none;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header a:hover {
  color: #4A90E2;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
a:active {
  color: #4A90E2; 
}

a:hover {
  color: #2ECC71; 
  text-decoration: underline; 
}
